ShippingWeb/web/WEB-INF/wsdl/localhost_8080/WebServiceServer/ShippingWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.shipping.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.shipping.com/" name="ShippingWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.shipping.com/" schemaLocation="http://localhost:8080/WebServiceServer/ShippingWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="showPackage">
<part name="parameters" element="tns:showPackage"/>
</message>
<message name="showPackageResponse">
<part name="parameters" element="tns:showPackageResponse"/>
</message>
<message name="storeCustomer">
<part name="parameters" element="tns:storeCustomer"/>
</message>
<message name="storeCustomerResponse">
<part name="parameters" element="tns:storeCustomerResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="storePackage">
<part name="parameters" element="tns:storePackage"/>
</message>
<message name="storePackageResponse">
<part name="parameters" element="tns:storePackageResponse"/>
</message>
<message name="showCustomer">
<part name="parameters" element="tns:showCustomer"/>
</message>
<message name="showCustomerResponse">
<part name="parameters" element="tns:showCustomerResponse"/>
</message>
<message name="updatePackage">
<part name="parameters" element="tns:updatePackage"/>
</message>
<message name="updatePackageResponse">
<part name="parameters" element="tns:updatePackageResponse"/>
</message>
<message name="indexCustomers">
<part name="parameters" element="tns:indexCustomers"/>
</message>
<message name="indexCustomersResponse">
<part name="parameters" element="tns:indexCustomersResponse"/>
</message>
<message name="indexPackages">
<part name="parameters" element="tns:indexPackages"/>
</message>
<message name="indexPackagesResponse">
<part name="parameters" element="tns:indexPackagesResponse"/>
</message>
<portType name="ShippingWebService">
<operation name="showPackage">
<input wsam:Action="http://server.shipping.com/ShippingWebService/showPackageRequest" message="tns:showPackage"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/showPackageResponse" message="tns:showPackageResponse"/>
</operation>
<operation name="storeCustomer">
<input wsam:Action="http://server.shipping.com/ShippingWebService/storeCustomerRequest" message="tns:storeCustomer"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/storeCustomerResponse" message="tns:storeCustomerResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://server.shipping.com/ShippingWebService/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="storePackage">
<input wsam:Action="http://server.shipping.com/ShippingWebService/storePackageRequest" message="tns:storePackage"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/storePackageResponse" message="tns:storePackageResponse"/>
</operation>
<operation name="showCustomer">
<input wsam:Action="http://server.shipping.com/ShippingWebService/showCustomerRequest" message="tns:showCustomer"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/showCustomerResponse" message="tns:showCustomerResponse"/>
</operation>
<operation name="updatePackage">
<input wsam:Action="http://server.shipping.com/ShippingWebService/updatePackageRequest" message="tns:updatePackage"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/updatePackageResponse" message="tns:updatePackageResponse"/>
</operation>
<operation name="indexCustomers">
<input wsam:Action="http://server.shipping.com/ShippingWebService/indexCustomersRequest" message="tns:indexCustomers"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/indexCustomersResponse" message="tns:indexCustomersResponse"/>
</operation>
<operation name="indexPackages">
<input wsam:Action="http://server.shipping.com/ShippingWebService/indexPackagesRequest" message="tns:indexPackages"/>
<output wsam:Action="http://server.shipping.com/ShippingWebService/indexPackagesResponse" message="tns:indexPackagesResponse"/>
</operation>
</portType>
<binding name="ShippingWebServicePortBinding" type="tns:ShippingWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="showPackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storeCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="storePackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePackage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="indexCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="indexPackages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ShippingWebService">
<port name="ShippingWebServicePort" binding="tns:ShippingWebServicePortBinding">
<soap:address location="http://localhost:8080/WebServiceServer/ShippingWebService"/>
</port>
</service>
</definitions>